<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Outfit</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1 class="add-title">Add Outfit</h1>
        <form id="outfit-form">
            <label for="season">Season</label>
            <select id="season" name="season">
                <option value="spring">Spring</option>
                <option value="summer">Summer</option>
                <option value="fall">Fall</option>
                <option value="winter">Winter</option>
            </select><br>

            <label for="weather">Weather</label>
            <select id="weather" name="weather">
                <option value="sunny">Sunny</option>
                <option value="rainy">Rainy</option>
            </select><br>

            <label for="style">Style</label>
            <select id="style" name="style">
                <option value="casual">Casual</option>
                <option value="formal">Formal</option>
                <option value="sporty">Sporty</option>
                <option value="chic">Chic</option>
            </select><br>

            <label for="new_outfit">New Outfit:</label>
            <input type="text" id="new_outfit" name="new_outfit" required><br>

            <input type="submit" class="button" value="Add Outfit">
        </form><br>

        <a href="index.html" class="back-button">Back</a>
    </body>
</html>
