<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Outfitly</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="title-container">
            <h1 class="title">OUTFITLY</h1>
        </div>
        <div class="button-container"></div>
            <a href="wardrobe.html" class="button">View Wardrobe</a> | 
            <a href="suggest.html" class="button">Suggest Outfit</a>
        </div>
    </body>
</html>
